{% extends "base.html" %}
<meta http-equiv="refresh" content="5" >

{% load  staticfiles %}

{% block header %}
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Lileague</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}


{% block title %}
    <title>LiLeague</title>
{% endblock %}

{% block content %}


<h1>LiLeague!</h1>

<p> This is a holder for a future </p>

<p> Hooray!</p>
<p>LOL</p>



{% endblock %}
