{% load staticfiles %}
{% load static from staticfiles %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> 
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >

    </head>
    {% block title %}{% endblock %} 


    {% block header %}{% endblock %}


    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}

    <script type="text/javascript" href="{% static 'js/materialize.min.js' %}"></script>


</body>
</html>